__pycache__
# data needs to be explicitly added
data/*
dist/*
build/*
*.egg-info
.ipynb_checkpoints
models
slurm
sb.sh
venv
wandb
*.DS_Store
**/*.gstmp
*.npy
# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
# images need to be explicitly added
*.png
.idea
scrap
output/*
imgs/*
# don't track catboost training info
catboost_info